<h1>Convert <%= @currency1.upcase %></h1>
<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies1_keys.each do |key| %>
    <li><a href="/<%= @currency1 %>/<%= key %>">Convert 1 <%= @currency1 %> to <%= key %></a></li>
  <% end %>
</ul>
